@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
    --light-blue: rgb(203, 243, 240);
    --light-green: rgb(199, 251, 210);
    --light-orange: rgb(253, 235, 186);
}

* {
    font-family: 'Jost', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.search-user {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-select {
    padding: 10px;
    font-size: 15px;
    border-radius: 0 20px 20px 0;
    background-color: rgb(238, 238, 238);
    border: 2px solid lightgray;
    border-left: none;
}

.search-select:focus {
    box-shadow: 0 0 10px lightgrey;
    outline: none;
}

option {
    height: 20px;
}

.search-input {
    border-radius: 20px 0px 0px 20px;
    width: 500px;
    font-size: 15px;
    padding: 10px 15px;
    border: 2px solid lightgray;
    border-right: none;
}

.search-input:focus {
    box-shadow: 0 0 10px lightgrey;
    outline: none;
}

.ver-line {
    width: 5px;
    /* height: 10px; */
    background-color: black;
    border-radius: 5px;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.filter-box {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.domain {
    width: 500px;
}

.domain .filter-box {
    border: 2px solid var(--light-blue);
}

.domain .filter-box:hover {
    background-color: var(--light-blue);
}

.gender .filter-box {
    border: 2px solid var(--light-green);
}

.gender .filter-box:hover {
    background-color: var(--light-green);
}

.available .filter-box {
    border: 2px solid var(--light-orange);
}

.available .filter-box:hover {
    background-color: var(--light-orange);
}

.users {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    /* height: 150px; */
    width: 300px;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: relative;
}

.user-details div:nth-child(1){
    font-size: 25px;
    font-weight: bold;
}

.user-details div:nth-child(2){
    font-size: 12px;
}

.user-details div:nth-child(3){
    font-size: 12px;
}

.user-details div:nth-child(4){
     font-weight: bold;
     font-size: 20px;
}

.user-details div:nth-child(5){
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
}